.home-header{ height: 80px; display: flex; align-items: center; padding:0 80px; justify-content: space-between; margin-bottom: 50px;}
.home-header .login{ width: 56px; line-height: 32px; cursor: pointer; color: #fff; background-color: #222; display: block; border-radius: 13px; font-size: 14px;}
.link { margin: 30px auto 0; width: 220px; display: flex; justify-content: space-between;}
.link span{ width: 80px; background-color: limegreen;line-height: 30px; border-radius: 20px; color: #fff; font-size: 14px;}
.login-info{ display: flex; align-items: center; width: 100px; justify-content: space-around;}
